<br>
<form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()" class="employee-form">
  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" />
    <mat-error *ngIf="contactForm.get('fullName')?.hasError('required') && contactForm.get('fullName')?.touched">
      Full name is required
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
      Invalid email format
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Contact</mat-label>
    <input matInput formControlName="contact" />
    <mat-error *ngIf="contactForm.get('contact')?.hasError('required')">
      Contact is required
    </mat-error>

  </mat-form-field>
    <br>
  <button mat-raised-button color="primary" type="submit">
    {{ selectedContactId ? 'Update' : 'Add' }}
  </button>
</form>
    <br>





<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
  </ng-container>

  <!-- Full Name Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
    <td mat-cell *matCellDef="let row"> {{ row.fullName }} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
  </ng-container>

  <!-- Contact Column -->
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
    <td mat-cell *matCellDef="let row"> {{ row.contact }} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="viewContact(row)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="editContact(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteContact(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>